[submodule "public/javascript/src/vendors/slick"]
	path = public/javascript/src/vendors/slick
	url = https://github.com/kenwheeler/slick.git
[submodule "public/javascript/src/vendors/async"]
	path = public/javascript/src/vendors/async
	url = https://github.com/caolan/async.git
[submodule "public/javascript/src/vendors/lodash"]
	path = public/javascript/src/vendors/lodash
	url = https://github.com/lodash/lodash.git
[submodule "public/javascript/src/vendors/requirejs"]
	path = public/javascript/src/vendors/requirejs
	url = https://github.com/requirejs/requirejs.git
[submodule "public/javascript/src/vendors/domReady"]
	path = public/javascript/src/vendors/domReady
	url = https://github.com/requirejs/domReady.git
[submodule "public/javascript/src/vendors/text"]
	path = public/javascript/src/vendors/text
	url = https://github.com/requirejs/text.git
[submodule "public/javascript/src/vendors/moment"]
	path = public/javascript/src/vendors/moment
	url = https://github.com/moment/moment.git
