em-auto(fontSize, baseSize = false, isMobile = false) {
  $defaultParentSize = baseSize || @font-size || 1em;
  $parentFontSize = px($defaultParentSize);
  $mobileAdjustment = 1;
  $fontSize = fontSize;

  if (unit(fontSize) == '') {
    $fontSize = fontSize * 1px;
  }

  if (isMobile){
    $mobileAdjustment = $ratio-font-reduction;
  }

  return round(((1em * $fontSize / $parentFontSize) / $mobileAdjustment), 5)
}
