
$duration-transition-default-ms= 400ms;
$duration-transition-default= $duration-transition-default-ms;
$duration-transition-dp-ms= 250ms;
$duration-transition-long-ms= 1000ms;
$duration-transition-short-ms= 250ms;

$selector-headings = 'h1, h2, h3, h4, h5, h6';

global-font-size = 16px;

$timing-transition-default= ease;
$timing-transition-snap= cubic-bezier(0.77,0,0.175,1);
