@charset "UTF-8";
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

  /* Slider */
  .slick-loading .slick-list {
      background: #fff url('/images/ajax-loader.gif') center center no-repeat;
  }

  /* Icons */
  @font-face {
      font-family: 'slick';
      font-weight: normal;
      font-style: normal;

      src: url('/fonts/slick.eot');
      src: url('/fonts/slick.eot?#iefix') format('embedded-opentype'), url('/fonts/slick.woff') format('woff'), url('/fonts/slick.ttf') format('truetype'), url('/fonts/slick.svg#slick') format('svg');
  } /* Arrows */
  .slick-prev,.slick-next {
      font-size: 0;
      line-height: 0;

      position: absolute;
      top: 50%;

      display: block;

      width: 20px;
      height: 20px;
      padding: 0;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);

      cursor: pointer;

      color: transparent;
      border: none;
      outline: none;
      background: transparent;
  }
  .slick-prev:hover,.slick-prev:focus,.slick-next:hover,.slick-next:focus {
      color: transparent;
      outline: none;
      background: transparent;
  }
  .slick-prev:hover:before,.slick-prev:focus:before,.slick-next:hover:before,.slick-next:focus:before {
      opacity: 1;
  }
  .slick-prev.slick-disabled:before,.slick-next.slick-disabled:before {
      opacity: .25;
  }

  .slick-prev:before,.slick-next:before {
      font-family: 'slick';
      font-size: 20px;
      line-height: 1;

      opacity: .75;
      color: white;

      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }

  .slick-prev {
      left: 25px;
      z-index: 1;
  }
  [dir='rtl'] .slick-prev {
      right: 25px;
      left: auto;
  }
  .slick-prev:before {
      content: '←';
  }
  [dir='rtl'] .slick-prev:before {
      content: '→';
  }

  .slick-next {
      right: 25px;
  }
  [dir='rtl'] .slick-next {
      right: auto;
      left: 25px;
  }
  .slick-next:before {
      content: '→';
  }
  [dir='rtl'] .slick-next:before {
      content: '←';
  }

  /* Dots */
  .slick-dotted.slick-slider {
      margin-bottom: 30px;
  }

  .slick-dots {
      position: absolute;
      bottom: -25px;

      display: block;

      width: 100%;
      padding: 0;
      margin: 0;

      list-style: none;

      text-align: center;
  }
  .slick-dots li {
      position: relative;

      display: inline-block;

      width: 20px;
      height: 20px;
      margin: 0 5px;
      padding: 0;

      cursor: pointer;
  }
  .slick-dots li button {
      font-size: 0;
      line-height: 0;

      display: block;

      width: 20px;
      height: 20px;
      padding: 5px;

      cursor: pointer;

      color: transparent;
      border: 0;
      outline: none;
      background: transparent;
  }
  .slick-dots li button:hover,.slick-dots li button:focus {
      outline: none;
  }
  .slick-dots li button:hover:before,.slick-dots li button:focus:before {
      opacity: 1;
  }
  .slick-dots li button:before {
      font-family: 'slick';
      font-size: 6px;
      line-height: 20px;

      position: absolute;
      top: 0;
      left: 0;

      width: 20px;
      height: 20px;

      content: '•';
      text-align: center;

      opacity: .25;
      color: black;

      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
  .slick-dots li.slick-active button:before {
      opacity: .75;
      color: black;
  }
[ng-cloak] {
  display: none;
}
.loading-text {
  position: absolute;
  left: 0;
  top: 240px;
  top: 50vh;
  top: -webkit-calc(49.5vh);
  top: calc(49.5vh);
  width: 100%;
}
.loading-screen {
  -webkit-transition: opacity 400ms linear;
  transition: opacity 400ms linear;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  right: 0;
  z-index: 999;
  background: rgba(0,0,0,0.5);
  -ms-filter: none;
  filter: none;
  opacity: 1;
}
.loading-screen.ng-hide {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}
body {
  -webkit-animation: fadeIn 600ms ease;
  animation: fadeIn 600ms ease;
  overflow-x: hidden;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
body > md-progress-linear {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}
> .main-view__content {
  overflow-y: auto;
  overflow-x: hidden;
}
a {
  color: #00b7ff;
}
md-sidenav {
  z-index: 81;
}
.action--bottommenu md-icon {
  height: 1em;
  width: 3em;
  font-size: 4em;
}
.user-avatar {
  height: 1.5em;
  width: auto;
  border-radius: 50%;
  overflow: hidden;
}
.pet-list .checkbox {
  position: absolute;
  left: 1em;
  top: 1em;
  z-index: 1;
}
.pet-list .tile-footer {
  cursor: pointer;
}
.invisible-container {
  visibility: hidden;
}
.nav-menus {
  text-align: right;
  -webkit-align-self: center;
  -ms-align-self: center;
  align-self: center;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  white-space: no-wrap;
}
.batch-edit-list__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.batch-edit-list .pet-thumbnail {
  display: -webkit-inline-flex;
  display: -ms-inline-flex;
  display: inline-flex;
  height: 1.5em;
  -webkit-flex: 1 1 1.5em;
  -ms-flex: 1 1 1.5em;
  flex: 1 1 1.5em;
}
.batch-edit-list .pet-thumbnail__placholder {
  background-size: 'cover';
  background-position: center;
  width: 100%;
  height: 100%;
}
.input {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.input__label {
  color: rgba(0,0,0,0.54);
  display: block;
  font-weight: normal;
  font-size: 0.75em;
  padding: 0 0.25em;
}
.pet-data-form .input {
  padding: 0 1.5em;
}
.pet-data-form .input__label {
  margin: 0 auto;
}
.pet-data-form .input--map {
  margin: 0 auto 3em;
}
.pet-data-form .input__input {
  width: 75%;
  width: -webkit-calc(100% - 4em);
  width: calc(100% - 4em);
}
.pet-data-form--no-default .pet-data-form .input__input {
  width: 83%;
  width: -webkit-calc(100% - 1.5em);
  width: calc(100% - 1.5em);
}
.pet-data-form .input__menu {
  margin-top: 1em;
}
.pet-data-form--date .pet-data-form .input__menu {
  margin-top: 0.5em;
}
.pet-data-form .input__input,
.pet-data-form .input__menu {
  display: inline-block;
  vertical-align: top;
}
.fab-anchor {
  position: relative;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
/* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
/* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
/* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
/* Support for IE. */
  font-feature-settings: 'liga';
}
.google-maps {
  background-color: #404040;
  height: 20em;
  margin: 0 auto;
  max-height: 33vh;
  max-width: 36em;
}
.species-upload-form--hidden {
  display: none;
}
.gallery {
  overflow: hidden;
  position: relative;
  background-color: #404040;
  -webkit-box-shadow: inset 0px -2px 16px -2px #000;
  box-shadow: inset 0px -2px 16px -2px #000;
  min-height: 4.25em;
  max-height: 320px;
}
.gallery .slides {
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
.gallery .slide {
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  background-position: center 25%;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
  width: 100%;
}
.gallery .slide__img {
  min-height: 4.5em;
  height: auto;
  margin: 0 auto;
  max-height: 20em;
  max-width: 100%;
  width: auto;
}
.gallery .btn-remove {
  position: absolute;
  left: 0.75em;
  bottom: 0.75em;
  z-index: 1;
}
.gallery .btn-add {
  position: absolute;
  right: 0.75em;
  bottom: 0.75em;
  z-index: 1;
}
.file-input__form {
  display: none;
}
.slick-slider.slick-dotted {
  margin-bottom: 0;
}
.slick-dots {
  bottom: auto;
  top: 0.75em;
}
.view--species md-content {
  padding-bottom: 7em;
}
.view--login {
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.view--login .view__content {
  text-align: center;
}
@-moz-keyframes fadeIn {
  0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
  }
  100% {
    -ms-filter: none;
    filter: none;
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
  }
  100% {
    -ms-filter: none;
    filter: none;
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
  }
  100% {
    -ms-filter: none;
    filter: none;
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
  }
  100% {
    -ms-filter: none;
    filter: none;
    opacity: 1;
  }
}
