@charset "UTF-8";
color-black = #000;
@import "_slick"
@import "_slick-theme"

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

[ng-cloak] {
  display: none;
}

.loading-text {
  position: absolute;
  left: 0;
  top: 240px;
  top: 50vh;
  top: calc(50vh - .5em);
  width: 100%;
}

body {
  animation: fadeIn 600ms ease;
  overflow hidden;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

  > md-progress-linear {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
  }
}

.main-layout {

  > .main-content {
    overflow-y: auto;
    overflow-x: hidden;
  }
}

a {
  color: #00B7FF
}

.pet-list {
  .checkbox{
    position absolute
    left 1em
    top 1em
    z-index 1
  }

  .tile-footer{
    cursor pointer
  }
  //.pet-list-menu {
  //  position absolute
  //  bottom 1em
  //  right 1em
  //}
}

.invisible-container {
  visibility hidden
}

.nav-menus {
  text-align right
  align-self center
  flex-grow 1
  white-space no-wrap
}

.input--map {
  margin: 18px auto;
}

.input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 3em);

  &--date {
    width: "calc(100% - %s)" % em-auto(12);
  }
}

.fab-anchor {
  position: relative;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.google-maps {
  background-color: lighten(color-black, 25%);
  height: 10em;
}

.date-label {
  color: rgba(0, 0, 0, 0.54);
  font-weight: normal;
  margin: 0 auto;
  width: calc(100% - 3em);
}


.gallery {
  background lighten(#000, 25%)
  height 320px
  height 50vh
  overflow hidden;
  position relative
  box-shadow inset 0px -2px 16px -2px #000

  .slide {
    background-position center
    background-size cover
    background-repeat no-repeat
    height 320px
    height 50vh
    position relative
    width 100%
  }

  .btn-remove {
    position absolute
    left em-auto(12)
    bottom em-auto(12)
    z-index 1
  }

  .btn-add {
    position absolute
    right em-auto(12)
    bottom em-auto(12)
    z-index 1
  }
}

.slider-upload-form {
  display none
}

.slick-slide{
  img {
    max-height 320px
    max-width 100%
    width auto
    height auto
  }
}

.slick-dots {
  bottom auto
  top: em-auto(12);
}
