color-black = #000;

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  transition: opacity 1000ms ease 2000ms;
  opacity: 1;
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

  &[ng-cloak]{
    opacity: 0;
  }
  > md-progress-linear {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
  }
}

a {
  color: #00B7FF
}

.default-field {

  md-input-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 3em);
  }
}

.fab-anchor {
  position: relative;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.google-maps {
  background-color: color-black;
  height: 10em;
}

.date-label {
  color: rgba(0, 0, 0, 0.54);
  font-weight: normal;
  margin: 0 auto;
  width: calc(100% - 3em);
}